$base-font-size: 16px;
$padding-s: 5px;
$padding-m: 10px;
$thumbnail-height: 150px;
$thumbnail-width: $thumbnail-height;
$border-radius: 3px;
$border-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);

$gray-0: #FFFFFF;
$gray-1: #E9E9E9;
$gray-2: #A9A9A9;
$gray-3: #898989;
$gray-4: #696969;
$border-color: $gray-3;
