html, body {
  margin: 0;
  padding: 0;
  font-size: 14px; /* This is now 1em */
  font-family: sans-serif;
}


button {
  min-width: 50px;
  font-size: 1em;
  padding: 4px;
  border-radius: $border-radius;
  background: $color-control;
  color: $color-base;
  border: none;
  outline: none;

  &:hover {
    background: $color-control-hover;
  }

  &:active {
    @mixin focus;
    background: $color-control-hover;
  }

  @mixin disabled;
}


input, textarea {
  @mixin focus;
  @mixin disabled;

  border-radius: $border-radius;
  outline: none;
  border: 1px solid $color-border;
}
