$color-white: #FFF;
$color-black: #000;
$color-blue: #6699FF;
$color-blue-dark: #104386;
$color-orange: #FF6600;

$color-border: #BBB;
$color-base: $color-white;
$color-text: $color-black;
$color-control: $color-blue;
$color-control-hover: $color-blue-dark;
$color-attn: $color-orange;
