.sps-app {
  @mixin position absolute, 0, 0, 0, 0;
  @mixin flexBox column, nowrap, flex-start, stretch, space-between;

  .sps-app-header {
    @mixin flexItem 0, 0;
    height: 40px;
    background: $gray-4;
  }

  .sps-app-body {
    @mixin flexItem 1, 1;
    min-height: 150px;
    overflow: auto;
  }

  .sps-app-footer {
    @mixin flexItem 0, 0;
    height: 40px;
    background: $gray-4;
  }
}
