.sps-collection {
  @mixin flexItem 1, 1;

  .sps-thumbnail-container {
    padding: $padding-s;
    overflow: auto;
    background: $gray-1;
  }


  .sps-collection-split-pane {
    > .sps-split-pane-second {
      height: 170px;
    }
  }

  /*
  .sps-picture {
    @mixin position absolute, 0, 0, 0, 0;
  }
  */
}
