.sps-picture-thumbnail {
  border: 1px solid $border-color;
  margin: $padding-m;
  background: $gray-1;
  height: $thumbnail-height;
  width: $thumbnail-width;
  float: left;
  border-radius: $border-radius;

  &:hover {
    box-shadow: $border-shadow;
  };
}