$splitter-thickness: 3px;

.sps-split-pane {
  &.vertical {
    @mixin flexBox column;
    height: 100%;

    > .sps-split-pane-splitter {
      height: $splitter-thickness;
      border-width: 0 1px 1px 0;
    }
  }


  &.horizontal {
    @mixin flexBox row;
    width: 100%;

    > .sps-split-pane-splitter {
      width: $splitter-thickness;
      border-width: 1px 0 0 1px;
    }
  }


  &.resizable {
    .sps-split-pane-splitter {
      cursor: grab;

      &:hover {
        background: $gray-3;
      }

      &:active {
        background: $gray-4;
        cursor: grabbing;
      }
    }
  }


  .sps-split-pane-first {
    @mixin flexItem 1, 1;
    position: relative;
  }


  .sps-split-pane-second {
    @mixin flexItem 0, 1;
    position: relative;
  }


  .sps-split-pane-splitter {
    @mixin flexItem 0, 0;
    border-style: solid;
    border-color: $border-color;
    background: $gray-2;
  }


  .sps-split-pane-contents {
    @mixin position absolute, 0, 0, 0, 0;
    overflow: auto;
  }
}
